.wrapperHeader {
    min-height: 100px;
    min-width: 100%;
    background: lightgray;
    background: linear-gradient(0deg, lightgray 0%, gray 100%);
    font-family: Calibri;
}

.header {
    min-height: 100px;
    margin: 5%;
}

.logo{
    min-height: 20px;
    min-width: 90%;
    align-items: center;
    background-color: #4b4b4b;
    padding: 1%;
    border-radius: 5px;
}

.icon{
    width: 50px;
    height: 50px;
}

.name{
    min-height: 20px;
    min-width: 90%;
    align-items: center;
    font-family: Calibri;
    font-size: small;
    color: #4b4b4b;
}

.navbar{
    min-height: 20px;
    min-width: 90%;
    align-items: center;
    justify-content: center;
}

.navbar a, button{
    background-color: #4b4b4b;
    color: aliceblue;
    border-radius: 6px;
    margin: 2%;
    padding: 2%;
    text-decoration: none;
}

.navbar a:hover, button:hover{
    color: goldenrod;
}

.navbar.flex{
    flex-direction: row;
}

.searchbar{
    min-height: 20px;
    min-width: 90%;
}

.flex{
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 800px) {
    .flex{
        flex-direction: row;
    }

    .restaurant-item.flex{
        flex-direction: column;
        max-width: 50%;
    }

    .header{
        min-width: 90%;
    }

    .logo{
        min-width: 6%;
        border-radius: 10px;
    }

    .name{
        min-width: 34%;
        font-size: xx-small;
        text-align: center;
        justify-content: center;
    }

    .navbar{
        min-width: 50%;
    }

    .navbar a, button{
        margin: 10%;
        padding: 4%;
    }

    .searchbar input{
        min-height: 25px;
        min-width: 50%;
        border-radius: 10px;
        margin: unset;
    }

    .login.flex{
        flex-direction: column;
        min-width: 35%;
    }

    .wrapperLogin.flex{
        flex-direction: column;
        align-items: center;
    }

    .register.flex{
        flex-direction: column;
        min-width: 35%;
    }

    .wrapperRegister.flex{
        flex-direction: column;
        align-items: center;
    }
}