.wrapperRegister {
    min-height: 500px;
    min-width: 100%;
    background: lightgrey;
    font-family: Calibri;
}

.register {
    min-height: 200px;
    margin: 5%;
    background-color: #4b4b4b;
    border-radius: 10px;
}