.restaurant-item {
    background-image: url(Restaurant.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 5%;
    border: 5px;
    border-style: solid;
    border-color: #4b4b4b;
    border-radius: 10px;
    min-height: 300px;
    justify-content: flex-end;
}

.description {
    font-size: x-small;
    margin: 0;
    color: aliceblue;
    background-color: #4b4b4b;
    padding: 2%;
}

h2 {
    color: #4b4b4b;
}

h3{
    margin: 0;
    color: aliceblue;
    background-color: #4b4b4b;
    padding: 2%;
}